{% extends "base.html" %}

{% block title %} Тестовое задание для ФГУП "НИИ "Квант"{% endblock %}

{% block content %}
    <h2>Проект - {{ project.name }}:</h2>
    <p>Приоритет - {{ project.priority }}</p>
    <p>Статус - {{ project.status }}</p>
    <p>Время создания - {{ project.creation_time }}</p>
    <p>Исполнители -
        {% if performers %}
            {% for performer in performers %}
                {{ performer.username }}{% if not forloop.last %},{% endif %}
            {% endfor %}
        {% else %}
            исполнители проекта не назначены
        {% endif %}
    </p>
    <a href="{% url 'projects:edit' project.id %}">
        Редактировать проект
    </a><br>
    <a href="{% url 'projects:destroy' project.id %}">
        Удалить проект
    </a>
{% endblock %}