{% extends "base.html" %}

{% block content %}
    <div>
      {% block first_message %}
        Что-то пошло не так!
      {% endblock %}
    </div>

    <div>
      {% if form.errors %}
          {% for field in form %}
            {% for error in field.errors %}
              <div>
                {{ error|escape }}
              </div>
            {% endfor %}
          {% endfor %}
          {% for error in form.non_field_errors %}
            <div>
              {{ error|escape }}
            </div>
          {% endfor %}
      {% endif %}

      <form method="post"
        {% if action_url %} action="{% url action_url %}" {% endif %}>

        {% csrf_token %}
        {% for field in form %}
        <div>
            <label for="{{ field.id_for_label }}">{{ field.label }}
                {% if field.field.required %}<span>*</span>{% endif %}
            </label>
            {{ field }} {% if field.help_text %} {{ field.help_text|safe }} {% endif %}
        </div>
        {% endfor %}

        <div>
            <button type="submit">
              {% block button %}Что-то пошло не так!{% endblock %}
            </button>
            {% block href %}
            {% endblock %}
        </div>
      </form>
    </div>

{% endblock %}